<section class="container-fluid my-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 fw-bold">Sobre Nosotros</h2>
        <p class="lead">
          CriptoSol es una nueva criptomoneda que busca revolucionar la forma en que interactuamos con las finanzas digitales. Inspirada en la solidez y el brillo del Sol, CriptoSol se compromete a brindar una experiencia segura, transparente y accesible para todos los usuarios.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/icon.jpg" alt="Logo de CriptoSol" class="img-fluid rounded-circle mx-auto d-block">
      </div>
    </div>
  </section>
  
  <section class="container-fluid my-5">
    <h2 class="text-center display-4 fw-bold">¿Por qué elegirnos?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="assets/tecnologia.jpg" alt="Tecnología de vanguardia" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Tecnología de vanguardia</h5>
            <p class="card-text">CriptoSol está construida sobre una base sólida de tecnología blockchain, lo que garantiza la seguridad y transparencia de todas las transacciones.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="assets/facil.png" alt="Fácil de usar" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Fácil de usar</h5>
            <p class="card-text">Incluso si eres nuevo en el mundo de las criptomonedas, CriptoSol es fácil de usar y entender. Nuestra interfaz intuitiva te permite comenzar a comprar, vender e intercambiar CriptoSol en poco tiempo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="assets/comunidad.png" alt="Comunidad vibrante" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Comunidad vibrante</h5>
            <p class="card-text">CriptoSol tiene una comunidad en constante crecimiento de usuarios apasionados que están comprometidos con el éxito de la moneda. Únete a nosotros y sé parte de algo especial.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  